@font-face {
    font-family: "IRANSans";
    src: url(../webfonts/IRANSans/IRANSansWeb.eot) format('eot');
    src: local("IRANSans"), url("../webfonts/IRANSans/IRANSansWeb.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "IRANSans-Bold";
    src: url(../webfonts/IRANSans/IRANSansWeb_Bold.eot);
    src: local("IRANSans-Bold"), url("../webfonts/IRANSans/IRANSansWeb_Bold.ttf") format("truetype");

}

@font-face {
    font-family: "Titr";
    src: url(../webfonts/titr/titr.otf);
    src: local("titr"), url("../webfonts/titr/titr.ttf") format("truetype");

}

@font-face {
    font-family: "Nastaliq";
    src: local("Nastaliq"), url("../webfonts/nastaligh/Far_Nastaliq.ttf") format("truetype");
}

* {
    font-family: IRANSans,SansSerif,"Droid Sans","Times New Roman",Tahoma;
}

.IRANSans{
    font-family: IRANSans!important;
}
.Titr{
    font-family: Titr!important;
}
.Nastaliq{
    font-family: Nastaliq!important;
}
